# Connection to the backend database being targeted, currently only Cassandra
backend:
  name: cassandra
  hosts:
    - localhost
  port: 9042
  keyspace: nose

# Cost model name and parameters
cost_model:
  name: request_count

# Loader-specific configuration
# The mysql loader is recommended, but csv might work as well if
# your generated indexes all have path length one
loader:
  name: mysql
  host: 127.0.0.1
  database: rubis
  username: root
  password: root

# Query proxy
proxy:
  name: mysql
  port: 3307

# vim: set syntax=yaml:

# Local Variables:
# mode:yaml
# End:
